@import '../abstract/_variaveis.scss';



*, body{
    font-family: $fonte-principal
}

main{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.binder{
    width: 90vw;
    text-align: center;
}


.binder_titulo{
    background-color: red;
}

.binder_titulo p{
    padding: 0 50px;
    font-weight: bolder;
    color: #FFFDE3;
}

#binderBody input{
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    &:focus{
      outline: none;
      background-color: #F1EFDC; 
    }
}

.button button{
    background-color:red;
    font-weight: bolder;
    color: #FFFDE3;
    border: none;
    border-radius: 10px;
    transition: 2ms;
    &:hover{
        background-color: #E64848;
        transition: 2ms;

    }
}

.deleteStudent{
    border: none;
    color: #fff;
    &:hover{
        color: #E64848;
    }
}

//SITUAAÇÕES 


.aprovado{
    color: #7DCE13;
    font-weight: bold;
}

.recuperacao{
    color: #F7EC09;
    font-weight: bold;

}

.reprovado{
    color: #FF1700;
    font-weight: bold;
}